<div class="pull-left">
  <table class="table" style="width: 60%;">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor = 'let list of details'>
            <td>{{list.id}}</td>
    
            <td>{{list.Name}}</td>
    
            <td>{{list.Count}}</td>
    
          </tr>
      </tbody>
    </table>
</div>
<div class="pull-left">
  <app-about></app-about>
</div> 


<!-- <h3>
  {{title | uppercase}}
</h3>
<app-employee></app-employee>
<br/>
<br/>
<br/>

<div class="pipes">
  <h4>Date Pipe</h4>
  <div> {{birthday | date:'short'}} </div>

  <h4>Number Pipe</h4>
  <div> {{14.5654 | number:'1.0-3'}} </div>
  
  <h4>Currency Pipe</h4>
  <div> {{ 15.99 | currency:'INR':true:'1.1-1'}} </div>

  <h4>Async Data</h4>
  <div> {{ promisData }} </div>

  <div>My birthday is on {{myBirth | date:format}}</div>
  <label><button (click)="toggleFunc()">Toggle Formate</button></label>
</div>
<div class="ngonchg">
    <label>Input Text:</label>
    <input type="text" />
    <br/>
    <div>Type String: {{inputString}}</div>
</div>
<app-one></app-one>
<app-two></app-two>
<ul>
  <li>
    <a routerLink="/home">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
  <li>
    <a routerLink="/user/list">User</a>
  </li>
</ul>
<router-outlet></router-outlet>
<br/>
<br/>
<br/>
<br/>
<br/>
<h4>HTTP GET&POST Method</h4>

<input type="text" (keyup)="getName($event)">
<button (click)="getProfile()">Get Profile</button>
<br/>
<div *ngIf='found'>{{this.name}}'s age is {{this.age}}</div>

<br/>
<button (click)="postProfile()">Post Profile</button>
<div *ngIf='postfond'>{{this.postname}} and {{this.postage}} is updated into the profiles json.</div>

<h4>Component Creation</h4>
<div class="main-Container">
  <div>Main Container</div>
  <div>Data: {{namesList}}</div>
  <app-new-component [namesList]="namesList"></app-new-component>
  <app-name-container></app-name-container>
</div>
<h4>Create Data For data:</h4>
<div>
    <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="model.name" name="name" class="form-control" id="name" placeholder="Enter name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="position">Position:</label>
          <div class="col-sm-10"> 
            <input type="text" class="form-control" name="position" [(ngModel)]="model.position" id="position" placeholder="Enter position">
          </div>
        </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" (click)="addEmployee()">Save</button>
          </div>
        </div>
      </form>
</div>
<h4>Read data & (Delete data)</h4>
<div>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor = "let employee of employees; let i=index">
        <tr>
          <td>{{employee.name}}</td>
          <td>{{employee.position}}</td>
          <td>
            <a class="btn btn-success">Edit</a>
            <a class="btn btn-danger" (click)="deleteEmp(i)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>    
 -->
