<div>
    <label>Show:</label>
    <label>
      <input type="radio" id="all_radio" name="gender_ratio" checked="checked">
      <label for="all_radio">{{ "All (" + all + ")"}}</label>
    </label>
    <label>
      <input type="radio" id="male_radio" name="gender_ratio">
      <label for="male_radio">{{ "Male (" + male + ")"}}</label>
    </label>
    <label>
      <input type="radio" id="female_radio" name="gender_ratio">
      <label for="female_radio">{{ "Female (" + female + ")"}}</label>
    </label>  
</div>
